<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label class="lab" color="danger">Upcoming Exihibitions</ion-label>

  <ion-item>
    <ion-label class="ion-text-wrap">
      402, Raja Hall, Nashik 946454, Maharashtra. <br>
      Date - 8 December, 2021. <br>
      Timing- 10am - 3pm.
    </ion-label>
  </ion-item>
<br>
  <ion-item>
    <ion-label class="ion-text-wrap">
      402, Raja Hall, Nashik 946454, Maharashtra. <br>
      Date - 12 December, 2021. <br>
      Timing- 10am - 3pm.
    </ion-label>
  </ion-item>
  <br>
</ion-content>
