<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feedback</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="fixed">Name: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Email: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Age: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Visited on</ion-label>
    <ion-datetime placeholder="Choose Date"></ion-datetime>
</ion-item>
<br><br>
<ion-list>
  <ion-radio-group value="biff">
    <ion-list-header>
      <ion-label>How was it?</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Amazing</ion-label>
      <ion-radio slot="start" value="Amazing"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Good</ion-label>
      <ion-radio slot="start" value="Good"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Poor</ion-label>
      <ion-radio slot="start" value="Poor"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<br><br>
<ion-item>
  <ion-label>Feedback</ion-label>
  <ion-textarea placeholder="Any Suggestions for Imporvement..."></ion-textarea>
</ion-item>
<br><br>

<ion-button (click)="showAlert()" expand="block">
  Submit
  <ion-icon name="arrow-forward-outline"></ion-icon>
</ion-button>

</ion-content>

